body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

.display-item-16-9 {
    background: #1a1a1a;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.display-item-16-9 iframe, .display-item-16-9 img, .display-item-16-9 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}